// Colors
$brand-primary: tomato;
$body-bg: #FFF;
$text-color: #000;

// Typography
$font-size-base: 16px;
$line-height-base: 1.3;
$headings-font-weight: 700;
$headings-font-family: 'Helvetica Neue', helvetica, arial, sans-serif;
$font-family-base: 'Courier New', Courier, monospace;
$link-hover-decoration: underline;
$default-vertical-space: 20px;

// Mobile Menu
$mobile-menu-font: $headings-font-family;
$mobile-menu-overlay-color: #fff;
$mobile-menu-width: 250px;
