// Colors
$brand-primary: #FF6A47;
$body-bg: #FFF;
$text-color: #000;

// Typography
$font-size-base: 14px;
$headings-font-weight: 500;
$font-family-base: 'Helvetica Neue', helvetica, arial, sans-serif;
$link-hover-decoration: underline;
